@import 'variables';

.install-page {
  background: $primary;
  .button--primary {
    background-color: $primary;
    border-color: darken($primary, 10%);
    border-width: 1px 1px 3px 1px;
    background-image: none;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
}