{#
/**
 * @file member.html.twig
 * Default theme implementation to present Member data.
 *
 * This template is used when viewing Member pages.
 *
 *
 * Available variables:
 * - children: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_member()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('member') }}>
  {% if children %}
    {{- children -}}
  {% endif %}
</div>
